[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"

[[scheduled.functions]]
  name = "email_heartbeat"
  # Runs at 03:00 and 15:00 UTC every day (08:30 & 20:30 IST)
  cron = "0 3,15 * * *"
