[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"

[[scheduled.functions]]
  name = "email_heartbeat"
  # Runs at 03:00 and 15:00 UTC every day (08:30 & 20:30 IST)
  cron = "0 3,15 * * *"
  
[build.environment]
# these NEXT_PUBLIC Firebase keys are safe to expose in web apps
SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_FIREBASE_API_KEY,NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN,NEXT_PUBLIC_FIREBASE_PROJECT_ID,NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET,NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID,NEXT_PUBLIC_FIREBASE_APP_ID,NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID"

# optional: if that static file must exist, omit its path from scanning
SECRETS_SCAN_OMIT_PATHS = "public/assets/admin_files/iframe.html"
